{
  "version": 1,
  "minor_version": 2,
  "key": "core.config",
  "data": {
    "latitude": -31.9377,
    "longitude": 115.8529,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "St Andrews Way",
    "time_zone": "Australia/Perth",
    "external_url": null,
    "internal_url": null,
    "currency": "AUD"
  }
}